// $background-color: #f7f8f9;
// $background-color: #fbfbfb;
$background-color: #fff;
$text-color: #112b4a;

$main-font-size: 13px;

$--color-primary: #0A8549;
$--color-success: #20BF55;
$--color-warning: #FF9F1C;
$--color-danger: #F71735;
$--color-info: #757575;