.layout-login {
  margin-top: 122px;
  > .el-row {
    height: 100vh;
  }
  .logo-wrap {
    img {
      margin-bottom: 15px;
      width: auto;
      height: 54px;
    }
    p {
      margin-top: 10px;
      font-size: 16px;
      font-weight: 400;
    }
  }
  .el-tabs__nav-wrap {
    text-align: center;
    i {
      color: #939fad;
    }
  }
  .tab-content {
    padding-top: 10px;
  }
  .footer-link {
    font-size: 12px;
    a {
      margin: 0 5px;
    }
  }
}

.verify-login {
  .code-wrap {
    .el-input {
      input {
        letter-spacing: 52px;
        padding-left: 54px;
        border: none;
        padding-right: 10px;
        overflow: hidden;
        width: 330px;
      }
      input::last-letter{
        letter-spacing: 0;
      }
    }
    .dashed-line {
      height: 30px;
      width: 290px;
      background-image: linear-gradient(90deg, #000 75%, rgba(255, 255, 255, 0) 0);
      background-position: 60px bottom;
      background-size: 60px 2px;
      background-repeat: repeat-x;
      overflow: hidden;
      margin-top: -25px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .el-form-item__error{
    display: none
  }
}

.code-wrap.is-success{
  .dashed-line{
    background-image: linear-gradient(90deg, #20BF55 75%, rgba(255, 255, 255, 0) 0);
  }
}
.code-wrap.is-error{
  .dashed-line{
    background-image: linear-gradient(90deg, #F71735 75%, rgba(255, 255, 255, 0) 0);
  }
}