@font-face {
  font-family: Vazir;
  src: url('Vazir.eot');
  src: url('Vazir.eot?#iefix') format('embedded-opentype'),
    url('Vazir.woff2') format('woff2'), url('Vazir.woff') format('woff'),
    url('Vazir.ttf') format('truetype');
  font-weight: normal;
  font-display: tahoma;
  font-display: swap;
}
