@font-face {
  font-family: Vazir;
  src: url('Vazir-Regular-FD.eot');
  src: url('Vazir-Regular-FD.eot?#iefix') format('embedded-opentype'),
       url('Vazir-Regular-FD.woff2') format('woff2'),
       url('Vazir-Regular-FD.woff') format('woff'),
       url('Vazir-Regular-FD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url('Vazir-Medium-FD.eot');
  src: url('Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'),
       url('Vazir-Medium-FD.woff2') format('woff2'),
       url('Vazir-Medium-FD.woff') format('woff'),
       url('Vazir-Medium-FD.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url('Vazir-Bold-FD.eot');
  src: url('Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'),
       url('Vazir-Bold-FD.woff2') format('woff2'),
       url('Vazir-Bold-FD.woff') format('woff'),
       url('Vazir-Bold-FD.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
